body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flip-panel {
  position: relative;
  width: 220px;
  height: 346px;
  margin: 100px auto;
}

.card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all .5s;
  backface-visibility: hidden;
  background: white;
}

.front {
  z-index: 2;
}

.back {
  z-index: 1;
  transform: rotateY(-180deg);
}

.panel:hover .front {
  z-index: 1;
  transform: rotateY(180deg);
}

.flip-panel:hover .back {
  z-index: 2;
  transform: rotateY(0deg);
}